USER_EMAIL=your_email@example.com
USER_PASSWORD=your_password
CLIENT_EMAIL=your_client_email@example.com
CLIENT_PASSWORD=your_client_password
REFUND_EMAIL=your_refund_email@example.com
REFUND_PASSWORD=your_refund_password
API_EMAIL=your_api_email@example.com
API_PASSWORD=your_api_password